ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px auto;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-link {
  width: 360px;
  height: 200px;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
}

.gallery-link:hover {
  transform: scale(1.04);
  cursor: url('../img/hand-down.svg'), auto;
}

.gallery-link img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}


/* .basicLightbox__placeholder>img:first-child:last-child {
  margin: 28px 164px;
} */